@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --main-color: #006699;
}

/* General styling */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f5f6f8;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.bottom-line {
  height: 2px;
  background-color: #edf0f5;
  display: block;
  width: 100%;
  margin: 8px 0 12px;
}

header {
  background-color: #fff;
  margin-bottom: 16px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
}

header .container .search {
  position: relative;
  margin-left: 18px;
}

header .container .search i {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #aaa;
}

header .container .search input {
  height: 32px;
  width: 100%;
  background-color: #f5f6f8;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 15px 0 40px;
  outline: none;
}

header .container .search input::-webkit-input-placeholder {
  color: #aaa;
}

header .container .search input:-ms-input-placeholder {
  color: #aaa;
}

header .container .search input::-ms-input-placeholder {
  color: #aaa;
}

header .container .search input::placeholder {
  color: #aaa;
}

header .container nav {
  margin: 0 auto;
}

header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 16px;
  color: #aaa;
}

header .container ul li a span {
  display: none;
}

header .container ul li a i {
  font-size: 1.5rem;
}

header .container ul li a:hover {
  color: var(--main-color);
}

header .container ul li.active a span {
  display: block;
  margin-left: 0.4rem;
  color: var(--main-color);
}

header .container ul li.active a i {
  color: var(--main-color);
}

header .container .user_info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .user_info a .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

header .container .user_info a .detail .name {
  color: #000;
  font-size: 12px;
  font-weight: 500;
}

header .container .user_info a .detail .status {
  font-size: 10px;
}

header .container .user_info a .detail .status.online {
  color: #31b057;
}

header .container .user_info a .detail .status.offline {
  color: #b62929;
}

header .container .user_info a img {
  margin: 0 0.5rem;
  height: 24px;
  width: 24px;
  min-width: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}

header .container .user_info a i {
  color: #a7b4cc;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .sidebar {
  min-width: 270px;
  width: 270px;
}

main .container .sidebar .widget {
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 15px;
}

main .container .sidebar .widget h5 {
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .sidebar .widget_stats {
  padding: 8px;
}

main .container .sidebar .widget_stats .stat_user {
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

main .container .sidebar .widget_stats .stat_user .cover {
  height: 43px;
  background: url("../images/cover-bg.png") no-repeat center center;
  border-radius: 6px;
}

main .container .sidebar .widget_stats .stat_user .avatar {
  margin: -26px 0 10px;
}

main .container .sidebar .widget_stats .stat_user .avatar img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 2px solid #fff;
}

main .container .sidebar .widget_stats .stat_user .name {
  font-size: 16px;
  font-weight: 500;
  color: #17272f;
}

main .container .sidebar .widget_stats .stat_user .job-title {
  font-size: 14px;
  color: #aaa;
  margin-top: 4px;
}

main .container .sidebar .widget_stats ul {
  padding: 0 7px 11px;
}

main .container .sidebar .widget_stats ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

main .container .sidebar .widget_stats ul li:not(:last-child) {
  margin-bottom: 16px;
}

main .container .sidebar .widget_stats ul li .key {
  color: #17272f;
}

main .container .sidebar .widget_stats ul li .value {
  font-weight: 500;
  color: var(--main-color);
}

main .container .sidebar .widget_hashtag h5 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .sidebar .widget_hashtag h5 .dropdown a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #31b057;
  font-weight: normal;
  text-transform: none;
}

main .container .sidebar .widget_hashtag h5 .dropdown a i {
  color: #aaa;
  font-size: 10px;
  margin-left: 5px;
}

main .container .sidebar .widget_hashtag ul {
  padding-bottom: 30px;
}

main .container .sidebar .widget_hashtag ul:last-child {
  padding-bottom: 0;
}

main .container .sidebar .widget_hashtag ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: var(--main-color);
  padding: 4px 0;
}

main .container .sidebar .widget_hashtag ul li a:hover {
  color: #222;
}

main .container .sidebar .widget_hashtag ul li a i {
  font-size: 11px;
  width: 20px;
}

main .container .sidebar .widget_hashtag ul li a i.fa-hashtag {
  width: 17px;
}

main .container .sidebar .add_event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

main .container .sidebar .add_event i {
  color: #006699;
}

main .container .sidebar .find_more {
  text-align: center;
}

main .container .sidebar .find_more a {
  font-size: 14px;
  color: #006699;
}

main .container .sidebar .recommendations {
  text-align: center;
}

main .container .sidebar .recommendations ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

main .container .sidebar .recommendations ul li a:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .sidebar .recommendations ul li a:first-child .image {
  min-width: 24px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container .sidebar .recommendations ul li a:first-child .image img {
  max-width: 100%;
}

main .container .sidebar .recommendations ul li a:first-child .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .container .sidebar .recommendations ul li a:first-child .name {
  font-size: 14px;
  color: #17272f;
}

main .container .sidebar .recommendations ul li a:first-child .field {
  font-size: 12px;
  color: #aaa;
}

main .container .sidebar .recommendations ul li .add-to-feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid #006699;
  color: #006699;
  border-radius: 4px;
  font-size: 11px;
  -webkit-transition: 300ms background-color, 300ms color;
  transition: 300ms background-color, 300ms color;
}

main .container .sidebar .recommendations ul li .add-to-feed:hover {
  background-color: var(--main-color);
  color: #fff;
}

main .container .sidebar .recommendations .see-all-recommendations {
  font-size: 14px;
  font-weight: 500;
  color: var(--main-color);
  margin-top: 40px;
}

main .container .sidebar .advertisement h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: 17272;
  font-size: 14px;
}

main .container .sidebar .advertisement h5 i {
  color: #aaa;
}

main .container .sidebar .advertisement small {
  font-size: 10px;
  color: #aaa;
}

main .container .sidebar .advertisement .get_updates .avatars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 16px 0;
}

main .container .sidebar .advertisement .get_updates .avatars img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

main .container .sidebar .advertisement .get_updates p {
  font-size: 14px;
  font-weight: normal;
}

main .container .sidebar .advertisement .get_updates p span {
  font-weight: 500;
}

main .container .sidebar .advertisement .get_updates .visit_now {
  font-size: 14px;
  font-weight: 500;
  color: var(--main-color);
  text-align: center;
  display: block;
  margin: 36px 0 4px;
}

main .container .sidebar .footer {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  padding-top: 39px;
}

main .container .sidebar .footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 8px;
}

main .container .sidebar .footer ul li a {
  color: #aaa;
  font-size: 10px;
  margin-right: 17px;
  margin-bottom: 16px;
}

main .container .sidebar .footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .sidebar .footer div small {
  font-size: 10px;
  color: #aaa;
}

main .container .sidebar .footer div img {
  height: 12px;
}

main .container .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 30px;
}

main .container .content .create_post {
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 15px;
}

main .container .content .create_post textarea {
  width: 100%;
  height: 60px;
  resize: none;
  font-size: 14px;
  border: none;
  padding-top: 14px;
  padding-left: 1px;
}

main .container .content .create_post textarea::-webkit-input-placeholder {
  color: #aaa;
}

main .container .content .create_post textarea:-ms-input-placeholder {
  color: #aaa;
}

main .container .content .create_post textarea::-ms-input-placeholder {
  color: #aaa;
}

main .container .content .create_post textarea::placeholder {
  color: #aaa;
}

main .container .content .create_post .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3px;
  font-size: 14px;
}

main .container .content .create_post .actions i {
  font-size: 20px;
}

main .container .content .create_post .actions label input {
  display: none;
}

main .container .content .create_post .actions label .fa-camera {
  color: #31b057;
}

main .container .content .create_post .actions label .fa-video {
  color: #388bf2;
}

main .container .content .create_post .actions a .fa-calendar {
  color: #fc8338;
}

main .container .content .create_post .actions a .fa-edit {
  color: #e52a34;
}

main .container .content .filter-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(222, 222, 222, 0.24);
  padding: 13px 20px;
  border-radius: 6px;
}

main .container .content .filter-posts label {
  font-size: 14px;
  color: #17272f;
}

main .container .content .filter-posts .selectbox {
  position: relative;
}

main .container .content .filter-posts .selectbox select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  outline: none;
  appearance: none;
  color: #17272f;
  padding-right: 30px;
  position: relative;
  top: -2px;
}

main .container .content .filter-posts .selectbox i {
  position: absolute;
  right: 0;
  height: 20px;
  width: 20px;
  color: #aaa;
  margin-left: 10px;
  pointer-events: none;
}

main .container .content .post {
  border-radius: 6px;
  background-color: #fff;
  padding: 13px 16px 20px;
  margin-bottom: 20px;
}

main .container .content .post .post_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1px;
}

main .container .content .post .post_header .post_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .content .post .post_header .post_author .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 12px;
}

main .container .content .post .post_header .post_author .detail .name {
  color: #17272f;
  font-size: 14px;
  font-weight: 500;
}

main .container .content .post .post_header .post_author .detail .job-title {
  color: #aaa;
  font-size: 10px;
}

main .container .content .post .post_header .post_author .detail small {
  color: #aaa;
  font-size: 10px;
}

main .container .content .post .post_header i {
  color: #aaa;
  font-size: 20px;
}

main .container .content .post .post_content p:first-child {
  font-size: 14px;
  color: #17272f;
}

main .container .content .post .post_content p a {
  font-size: 14px;
  font-weight: 500;
}

main .container .content .post .post_content p {
  padding: 4px 0;
}

main .container .content .post .post_content img {
  max-width: 100%;
}

main .container .content .post .post_interactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  color: #17272f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .content .post .post_interactions .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
}

main .container .content .post .post_interactions i {
  font-size: 14px;
  margin-right: 9px;
  position: relative;
  z-index: 1;
}

main .container .content .post .post_interactions i::after {
  content: '';
  width: 11px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: -1;
}

main .container .content .post .post_interactions i.fa-heart {
  color: #e52a34;
}

main .container .content .post .post_interactions i.fa-heart::after {
  background: rgba(229, 42, 52, 0.32);
}

main .container .content .post .post_interactions i.fa-thumbs-up {
  color: #388bf2;
}

main .container .content .post .post_interactions i.fa-thumbs-up::after {
  background: rgba(56, 139, 242, 0.32);
}

main .container .content .post .post_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

main .container .content .post .post_actions a {
  color: #aaa;
  margin-right: 17px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .content .post .post_actions a i {
  margin-right: 5px;
}

main .container .content .post .post_actions a:hover {
  color: var(--main-color);
}

main .container .content .post .post_comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .content .post .post_comment img {
  min-width: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}

main .container .content .post .post_comment .textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #edf0f5;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

main .container .content .post .post_comment .textarea textarea {
  border: none;
  outline: none;
  background: transparent;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  padding: 8px;
  resize: none;
  height: 35px;
  font-size: 14px;
}

main .container .content .post .post_comment .textarea textarea::-webkit-input-placeholder {
  color: #dedede;
}

main .container .content .post .post_comment .textarea textarea:-ms-input-placeholder {
  color: #dedede;
}

main .container .content .post .post_comment .textarea textarea::-ms-input-placeholder {
  color: #dedede;
}

main .container .content .post .post_comment .textarea textarea::placeholder {
  color: #dedede;
}

main .container .content .post .post_comment .textarea label {
  cursor: pointer;
  border-left: 1px solid #edf0f5;
  padding-left: 16px;
  font-size: 17px;
  color: #a7b4cc;
  padding-right: 5px;
}

main .container .content .post .post_comment .textarea label:hover {
  color: var(--main-color);
}

main .container .content .post .post_comment .textarea label input {
  display: none;
}

.message_box {
  position: fixed;
  bottom: 0;
  right: 100px;
}

.message_box .message_header {
  width: 270px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(289.57deg, #006699 20.9%, #009099 111.3%);
  border-radius: 6px 6px 0 0;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
}

.message_box .message_header .img {
  position: relative;
}

.message_box .message_header .img::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background: #b93030;
  bottom: -5px;
  left: 50%;
  margin-left: -6px;
  border: 1px solid #fff;
}

.message_box .message_header .img.online::after {
  background: #31b057;
}

.message_box .message_header .img img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: block;
  margin-right: 7px;
}

.message_box .message_header .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.message_box .message_header .actions a {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 50%;
}

.message_box .message_header .actions a:hover {
  background: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1024px) {
  main .container .sidebar:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header .container {
    margin-right: 5px;
    margin-left: 5px;
  }
  header .container .user_info {
    display: none;
  }
  header .container ul li a {
    margin: 0 8px;
  }
  main .container .sidebar:nth-child(3) {
    display: none;
  }
  .message_box {
    right: 10px;
  }
}
/*# sourceMappingURL=main.css.map */