@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

:root {
  --dark-color: #10182f;
  --light-color: #fff;
  --blue-color: #306bf3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cookie-banner {
  margin: 50px;
  box-shadow: 0 15px 45px -12px rgba(#001d93, 0.15);
  border-radius: 5px;
  &.style1 {
    width: 410px;
    height: 196px;
    background-color: var(--dark-color);
    color: #fff;
    padding: 35px 35px 25px;
    p {
      line-height: 25px;
      color: var(--light-color);
    }

    .learn-more {
      color: var(--light-color);
      text-decoration: underline;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 25px;
      .btn {
        height: 36px;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        color: var(--light-color);
      }
      .btn-light {
        background-color: var(--light-color);
        margin-left: 60px;
        color: var(--dark-color);
        border-radius: 5px;
        padding: 9px 20px;
      }
    }

    &.dark {
      --dark-color: #fff;
      --light-color: #10182f;
    }
  }

  &.style2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--light-color);

    width: 410px;
    height: 304px;
    padding: 40px 40px 35px;
    .icon {
      margin-bottom: 25px;
      svg {
        fill: var(--blue-color);
      }
    }
    &.dark {
      --dark-color: #fff;
      --light-color: #10182f;
      --blue-color: #fff;
    }
    p {
      width: 330px;
      line-height: 25px;
      color: var(--dark-color);
      text-align: center;
      margin-bottom: 35px;
    }
    .learn-more {
      display: block;
      text-decoration: underline;
      color: var(--dark-color);
    }
    .btn {
      background-color: var(--dark-color);
      padding: 15px 35px;
      border-radius: 5px;
      color: var(--light-color);
    }
  }

  &.style3 {
    width: 731px;
    height: 145px;
    padding: 35px 35px 35px 45px;
    display: flex;
    align-items: center;
    .icon {
      svg {
        fill: var(--blue-color);
      }
    }
    p {
      width: 330px;
      margin-left: 45px;
      line-height: 25px;
      color: var(--dark-color);
      a {
        display: block;
        text-decoration: underline;
      }
    }
    .btn {
      margin-left: auto;
      padding: 15px 35px;
      background-color: var(--dark-color);
      color: var(--light-color);
      border-radius: 5px;
    }
  }
}
