@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Mulish', sans-serif;
  color: #10182f;
  background-color: #f7f8fc;
  display: grid;
  place-items: center;
  height: 100vh;
}

.circle-bar {
  width: 72px;
  height: 72px;
  transform: rotate(-90deg);
  svg {
    --circum: calc(2 * 3.14 * 33.5);
    --offset: calc(var(--circum) - (var(--circum) * 60 / 100));
    circle {
      fill: none;
      stroke-width: 5;
      stroke: #dae1f5;
      stroke-dasharray: var(--circum);
      stroke-dashoffset: var(--circum);
      stroke-linecap: round;
      &:nth-child(1) {
        stroke-dashoffset: 0;
      }
      &:nth-child(2) {
        stroke: #345ace;
        animation: 3s animateOffset;
      }
    }
  }
}

.component {
  &--trial-box {
    background-color: #fff;
    box-shadow: 0 28px 30px -12px #e9ecf9;
    padding: 57px 100px 70px 44px;
    border-radius: 5px;
    h3 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 23px;
    }
    .credit {
      display: flex;
      align-items: center;
      margin-bottom: 70px;
      > div {
        margin-left: 20px;
        .amount {
          font-size: 26px;
          font-weight: bold;
        }
        .text {
          color: #545d7a;
        }
      }
    }
    p {
      width: 421px;
      max-width: 100%;
      line-height: 22px;
      margin-bottom: 40px;
    }
    .action {
      .btn {
        padding: 13px 46px;
        border: 2px solid #dae1f5;
        border-radius: 27.5px;
        text-decoration: none;
        color: #10182f;
        font-weight: bold;
        &.dark {
          background-color: #10182f;
          color: #fff;
          border: none;
          margin-right: 15px;
        }
      }
    }
  }
}

@keyframes animateOffset {
  to {
    stroke-dashoffset: var(--offset);
  }
}

@media screen and (max-width: 600px) {
  .component {
    &--trial-box {
      text-align: center;
      padding: 30px 20px;
    }
  }
}
