@import 'https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap';

/* General styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #303236;
  color: #c4c8ca;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

a {
  text-decoration: none;
}

/* Search Component */

.search_component {
  background-color: #3d3f43;
  border-radius: 10px;
  padding: 40px 45px;
  box-shadow: 0 15px 25px -20px #202125;
  max-width: 350px;
}

.search_component form {
  position: relative;
  margin-bottom: 1rem;
}

.search_component form input {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  background-color: #303236;
  border: none;
  font-size: 1rem;
  color: #fff;
  padding-left: 53px;
}

.search_component form input::placeholder {
  color: rgba(#fff, 0.5);
}

.search_component form input:focus {
  outline: 0;
}
.search_component form .search_icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_component ul {
  list-style: none;
}

.search_component ul li {
  margin-bottom: 1rem;
}

.search_component ul li:hover {
  color: #2ccdea;
  font-weight: bold;
}

.search_component h5 {
  text-transform: uppercase;
  margin: 1.3rem 0;
  font-weight: 700;
}

.search_component ul .active {
  color: #2ccdea;
  font-weight: bold;
}

/* Search Filter Component */

.search_filter_component {
  background-color: #3d3f43;
  border-radius: 10px;
  box-shadow: 0 15px 25px -20px #202125;
  max-width: 550px;
}

.search_filter_component form {
  min-height: 68px;
  padding: 14px;
  display: flex;
}

.search_filter_component form .input {
  display: flex;
  align-items: center;
  flex: 1;
}

.search_filter_component input {
  background-color: transparent;
  border: none;
  outline: 0;
  width: 100%;
  caret-color: #fff;
  color: #fff;
}

.search_filter_component .search_icon {
  width: 40px;
  text-align: center;
}

.search_filter_component ul {
  display: flex;
  list-style: none;
}

.search_filter_component ul label .text {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
  color: #fff;
  padding: 0 25px;
  cursor: pointer;
  border-radius: 40px;
}

.search_filter_component ul label input {
  display: none;
}

.search_filter_component ul label input:checked + .text {
  background-color: #303236;
  color: #2ccdea;
}

/* Filter Component */

.filter_component {
  background-color: #3d3f43;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 15px 25px -20px #202125;
  max-width: 450px;
}

.filter_component ul li {
  display: flex;
  align-items: center;
}

.filter_component li:not(:last-child) {
  margin-bottom: 30px;
}

.filter_component .key {
  width: 100px;
}

.filter_component .value {
  width: 100%;
}

.filter_component .value select {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: #fff;
  padding: 0 1rem;
  outline: none;
  margin-left: auto;

  cursor: pointer;
  appearance: none;
  background: #303236 url('https://svgshare.com/i/PkM.svg') no-repeat
    calc(100% - 10px) center;
}

.filter_component .filter_button {
  border-top: 1px solid #313337;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}
.filter_component .filter_button button {
  border: none;
  background-color: #289ebf;
  padding: 1rem 2rem;
  border-radius: 50px;
  color: #fff;
  outline: none;
  margin-left: 1rem;
}

.filter_component .filter_button a {
  color: #8c8e90;
}

@media screen and (max-width: 768px) {
  .filter_component {
    padding: 30px;
  }
}

@media screen and (max-width: 500px) {
  .search_component {
    padding: 20px;
  }

  .search_filter_component form {
    flex-direction: column;
  }

  .search_filter_component form .input {
    margin-bottom: 10px;
  }

  .search_filter_component ul label .text {
    padding: 0 15px;
    font-size: 13px;
  }
  .filter_component {
    padding: 1rem 2rem;
  }

  .filter_component form {
    text-align: center;
  }

  .filter_component ul li {
    flex-direction: column;
    align-items: left;
  }
  .filter_component ul li .key {
    margin-bottom: 0.5rem;
  }
  .filter_component li:not(:last-child) {
    margin-bottom: 15px;
  }

  .filter_component .filter_button {
    flex-direction: column;
    padding-top: 10px;
  }

  .filter_component .filter_button button {
    margin-top: 0.5rem;
    margin-left: 0;
  }
}
